header{

}


.top-menu{
    background-color: #313131;
    height: 70px;
    display: flex;
}
.logo-img{
    display: flex;
    width: 80px;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.logo-text{
    font-family: "Open Sans", serif;
    text-align: center;
    padding-top: 21px;
    font-size: 22px;
    color: white;
    font-weight: 700;
}

.top-menu__nav {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.top-menu__nav-list{
    display: inline-flex;
    align-items: center;
}

.top-menu__nav-item{

}

.top-menu__nav-item a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Open Sans", serif;
    color: white;
    font-weight: 600;
    font-size: 15px;
    padding-left: 35px;
}

.top-menu__nav-item a:hover{
    color: #14B9D5;
}

.top-menu__search-bar-button{
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

}

.top-menu__search-bar-img {
    width: 17px;
    height: 17px;
}

.latest-news{
    display: flex;
    flex-direction: column;

    height: 369px;
    align-items: center;
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 100%
      ),
      url("../img/header-bg.jpeg");
    /*background-color: rgba(0, 0, 0, 0.25);*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

}

.latest-news__text{
    padding-top: 164px;

    font-family: "Open Sans", serif;
    font-weight: 700;
    font-size: 27px;
    color: #ffffff;
    text-transform: uppercase;

}

.latest-news__button-group{
    display: flex;
    padding-top: 44px;
}

.latest-news__button-item{
    width: 170px;
    height: 56px;
    background-color: #14B9D5;
    border: transparent;

    font-family: "OpenSans", serif;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    border-radius: 6px;
}

.latest-news__button-item:first-child{
    margin-right: 20px;
    background-color: #89CA62;
}

.popular-posts{
    background-color: #F2F2F2;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular-posts-text{
    font-family: "Open Sans", serif;
    margin: 48px;
    font-weight: 700;
    font-size: 27px;
    color: #18B4CF;
}

.popular-posts-block{
    display: flex;
    flex-flow: column wrap;
    max-height: 860px;
    width: 80%;
    align-items: center;
}
.popular-posts-item{
    background-color: #ffffff;
    text-align: center;
    margin: 15px;
}


.popular-posts-item p{
    padding: 20px;

    color: #353A3D;
    font-family: "Open Sans", serif;
    font-weight: 700;
    font-size: 18px;
}

.popular-clients{
    align-items: center;
    background-image: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.4) 0%,
            rgba(0, 0, 0, 0.4) 100%
    ),
    url("../img/parallax-bg.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 588px;
}

.popular-clients-text{
    font-family: "OpenSans", serif;
    font-weight: 700;
    font-size: 32px;
    color: #ffffff;
    text-transform: uppercase;
}

.popular-clients-list{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
}

.popular-clients-items{
    margin: 29px;
    padding-top: 107px;
}

.popular-clients hr{
    width: 87px;
}

.popular-clients-text{
    text-align: center;
    padding-top: 108px;
    padding-bottom: 87px;
}

.top-rated {

}

.top-rated p{
    text-transform: uppercase;
    color: #18B4CF;
    font-family: "Open Sans", serif;
    font-size: 27px;
    font-weight: 700;
    padding-top: 49px;
    padding-bottom: 52px;
    text-align: center;
}

.top-rated-list{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}

.top-rated-item{
    width: 100%;
}

.hot-news-heading{
    text-transform: uppercase;
    color: #18B4CF;
    font-family: "OpenSans", serif;
    font-size: 27px;
    font-weight: 700;
    padding-top: 49px;
    padding-bottom: 52px;
    text-align: center;
}

.hot-news-section-top{
    display: grid;
    /*grid-template-columns: 856px 277px;*/
    grid-template-columns: auto auto;
    margin: 16px 8%;
}

.hot-news-section-middle{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin: 16px 8%;
}

.hot-news-section-bottom{
    display: grid;
    grid-template-columns: auto auto;
    margin: 16px 8%;
}

.hot-news-block{
    display: flex;
    flex-direction: column;
    color: #F9F7F7;
}

.hot-news-section-top .hot-news-block:first-child{
    display: flex;
    flex-direction: row;
    min-width: 856px;
    padding-bottom: 40px;
}

.hot-news-section-bottom .hot-news-block:last-child{
    display: flex;
    flex-direction: row;
    min-width: 856px;
    padding-bottom: 40px;
}

.hot-news-block__heading{
    color: #353A3D;
    font-family: "OpenSans", serif;
    font-size: 18px;
    font-weight: 700;
    text-align: right;
    padding-top: 40px;
    padding-right: 20px;

}
.hot-news-section-bottom .hot-news-block__heading:first-child{
    text-align: center;
    padding-top: 2px;
    padding-bottom: 20px;
}
.hot-news-section-top .hot-news-block__heading:last-child{
    text-align: center;
    padding-top: 2px;
    padding-bottom: 20px;
}
.hot-news-block__text{
    color: #5B6469;
    font-family: "OpenSans", serif;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 5px;
}

.hot-news-block__content{
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
}

.hot-news-block{
    margin: 30px;
}

footer{
    display: grid;
    background-color: #000000;
    height: 80px;
    grid-template-columns: auto auto;
    justify-content: space-around;
    align-items: center;
}

footer p{
    font-family: "Open Sans", serif;
    font-size: 13px;
    font-weight: 400;
    color: #ffffff;
}

